<div class="row">
    <div class="large-12 columns">
        <h1>{{level.text}} {{language.name}} Submission {{#if isInactive}}(Closed){{/if}}</h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3>Details</h3>
    </div>
</div>
{{#if isRecruiter}}
<div class="row display">
    <div class="large-12 columns">
        <label>Candidate</label>
        <p>{{candidateDisplay}}</p>
    </div>
</div>
{{/if}}
<div class="row display">
    <div class="large-12 columns">
        <label>File</label>
        <a class="button small radius success" {{bind-attr href=zipfile}}><i class="fa fa-download"></i>&nbsp;Download</a>
    </div>
</div>
<div class="row display">
    <div class="large-12 columns">
        <label>Email Text</label>
        <p>{{emailText}}</p>
    </div>
</div>
{{#if hasPublishedAssessments}}
<div class="row display">
    <div class="large-12 columns">
        <label>Consensus</label>
        <p class="score">{{averageScoreText}}</p>
    </div>
</div>
{{/if}}
{{#if isRecruiter}}
<div class="row display">
    <div class="large-12 columns">
        {{#if showCloseButton}}
        <button class="button small radius" {{action closeSubmission}}>Close Submission</button>
        {{/if}}
        {{#if showReportButton}}
        {{#link-to 'submission.report' class="button small radius" }}Generate Report{{/link-to}}
        {{/if}}
        {{#if showReopenButton}}
        <button class="button small radius" {{action reopenSubmission}}>Reopen Submission</button>
        {{/if}}
    </div>
</div>
{{/if}}

<div class="row">
    <div class="large-12 columns">
        <h3>Assessments</h3>

        {{outlet 'assessments'}}

        {{#if active}}
            {{#if userCanCreateAssessment}}
                {{#link-to 'assessments.new' class="button small radius success right"}}{{newAssessmentButtonText}}{{/link-to}}
            {{/if}}
        {{else}}
            <p>This submission is closed for new assessments.</p>
        {{/if}}
    </div>
</div>

