<div class="row">
  <div class="col-md-12">
    <h1>{{level.text}} {{language.name}} Submission {{#if isInactive}}(Closed){{/if}}</h1>
    <h3>Details</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <form class="form-horizontal form-horizontal-narrow" role="form">
        {{#if isRecruiter}}
        <div class="form-group">
          <label class="col-sm-2 control-label">Candidate</label>
          <div class="col-sm-10">
            <p class="form-control-static">{{candidateDisplay}}</p>
          </div>
        </div>
        {{/if}}

        <div class="form-group">
          <label class="col-sm-2 control-label">File</label>
          <div class="col-sm-10">
            <a class="btn btn-default" {{bind-attr href=zipfile}}><i class="fa fa-download"></i>&nbsp;Download</a>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Email Text</label>
          <div class="col-sm-10">
            <p class="form-control-static">{{emailText}}</p>
          </div>
        </div>

        {{#if hasPublishedAssessments}}
        <div class="form-group">
          <label class="col-sm-2 control-label">Consensus</label>
          <div class="col-sm-10">
            <p class="form-control-static">{{averageScoreText}}</p>
          </div>
        </div>
        {{/if}}
    </form>
  </div>
  <div class="col-md-2">
    <div class="btn-group-vertical text-left pull-right">
        {{#if isRecruiter}}
          {{#if showReportButton}}
          {{#link-to 'submission.report' class="btn btn-default" }}<i class="fa fa-table"></i>&nbsp;Generate Report{{/link-to}}
          {{/if}}
          {{#if showCloseButton}}
          <a class="btn btn-default" {{action closeSubmission}}><i class="fa fa-check"></i>&nbsp;Close Submission</a>
          {{/if}}
          {{#if showReopenButton}}
          <a class="btn btn-default" {{action reopenSubmission}}><i class="fa fa-refresh"></i>&nbsp;Reopen Submission</a>
          {{/if}}
          <a class="btn btn-default" {{action 'confirmDelete' this}}><i class="fa fa-close"></i>&nbsp;Delete Submission</a>
        {{/if}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Assessments</h3>

    {{outlet 'assessments'}}

    {{#if active}}
    {{#if userCanCreateAssessment}}
    {{#link-to 'assessments.new' class="btn btn-success pull-right"}}{{newAssessmentButtonText}}{{/link-to}}
    {{/if}}
    {{else}}
    <p>This submission is closed for new assessments.</p>
    {{/if}}
  </div>
</div>

