<div class="row">
    <div class="large-12 columns">
        <h1>{{level.text}} {{language.name}} Submission {{#if isInactive}}(Closed){{/if}}</h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3>Details</h3>
    </div>
</div>
{{#if isRecruiter}}
<div class="row display">
    <div class="large-12 columns">
        <label>Candidate</label>
        <p>{{candidateDisplay}}</p>
    </div>
</div>
{{/if}}
<div class="row display">
    <div class="large-12 columns">
        <label>File</label>
        <a class="button small radius success" {{bind-attr href=zipfile}}><i class="fa fa-download"></i>&nbsp;Download</a>
    </div>
</div>
<div class="row display">
    <div class="large-12 columns">
        <label>Email Text</label>
        <p>{{emailText}}</p>
    </div>
</div>
{{#if hasAssessments}}
<div class="row display">
    <div class="large-12 columns">
        <label>Average Score</label>
        <p class="score">{{averageScore}}</p>
    </div>
</div>
{{/if}}
{{#if isRecruiter}}
<div class="row display">
    <div class="large-12 columns">
        {{#if showCloseButton}}
        <button class="button small radius" {{action closeSubmission}}>Close Submission</button>
        {{/if}}
        {{#if showReportButton}}
        {{#link-to 'submission.report' class="button small radius" }}Generate Report{{/link-to}}
        {{/if}}
    </div>
</div>
{{/if}}

<div class="row">
    <div class="large-12 columns">
        <h3>Assessments</h3>

        <table class="large-12 assessments">
            <thead>
            <tr>
                <th width="33%">Assessor</th>
                <th width="33%">Score</th>
                <th width="33%">Completion Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#if showAssessments}}
            {{#each assessment in assessments}}
                <tr class="assessment">
                    <td class="assessor">{{assessment.assessor}}</td>
                    <td class="score">{{assessment.score}}</td>
                    <td class="created-at">{{assessment.createdAtDisplay}}</td>
                    <td>
                        {{#link-to 'assessment.index' assessment class="button tiny radius"}}View{{/link-to}}
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="3" class="text-center">No assessments yet.</td>
                </tr>
            {{/each}}
            {{else}}
            <tr><td class="text-center" colspan="4">All assessments will be visible once you've submitted yours.</td></tr>
            {{/if}}
            </tbody>
        </table>

        {{#if active}}
            {{#if userCanCreateAssessment}}
                {{#link-to 'assessments.new' class="button small radius success right"}}New Assessment{{/link-to}}
            {{/if}}
        {{else}}
            <p>This submission is closed for new assessments.</p>
        {{/if}}
    </div>
</div>

