<div class="row">
    <div class="large-12 columns">
        <h1>Change {{name}}'s roles </h1>
    </div>
</div>
<div class="row">
    <div id="role-warning" class="warning"></div>
    <div class="large-12 columns">
        <table class="user-roles">
            <thead>
            <tr>
                <th class="large-3">Name</th>
                <th class="large-3">Email</th>
                <th class="large-3">Current Roles</th>
                <th class="large-3">Add Role</th>
                <th class="large-3"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="name">{{name}}</td>
                <td class="email">{{email}}</td>
                <td class="role">
                    <table class="current-roles">
                        {{#each role in roles}}
                            <tr>
                                <td>{{role.name}}</td>
                                <td><button class="button tiny" {{action 'removeRole' role}}>remove</button></td>
                            </tr>
                        {{/each}}
                    </table>

                </td>
                <td class="role">
                    {{view Ember.Select
                    id="role-select"
                    prompt="Please select a role"

                    contentBinding="all_roles"
                    optionValuePath="content.id"
                    optionLabelPath="content.name"
                    selection=selectedRole}}

                <td><button id="add-role" class="button tiny" {{action 'addRole'}}>add role</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
