<div class="row">
    <div class="large-12 columns">
        <h1>New Assessment</h1>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <fieldset>
            <legend>Submission</legend>


            <div class="row">
                <div class="large-6 columns">
                    <label>Language
                        {{view Ember.Select viewName="select"
                        content=languages
                        optionLabelPath="content.name"
                        optionValuePath="content.id"
                        prompt="Select a language:"
                        selection=selectedLanguage
                        disabled="disabled"
                        class="language"}}
                    </label>
                </div>
                <div class="large-6 columns">
                    <label>Candidate Level
                        {{view Ember.Select viewName="select"
                        content=levels
                        optionLabelPath="content.text"
                        optionValuePath="content.id"
                        prompt="Select a level:"
                        selection=selectedLevel
                        disabled="disabled"
                        class="level"}}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-2 columns">
                    <label>File
                        <a class="button small radius success zipfile" {{bind-attr href=submission.zipfile}}><i class="fi-download"></i>&nbsp;Download</a>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>Email Text
                        {{textarea value=submission.emailText rows="6" disabled="disabled" class="email-text"}}
                    </label>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Assessment</legend>

            <div class="row">
                <div class="large-9 columns">
                    <label>Notes</label>
                </div>
                <div class="large-3 columns">
                    <label class="right">
                    <img src="/assets/images/32x20.png" width="24" /> Parsed as Markdown
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    {{textarea value=notes rows="6" class="notes"}}
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>Recommendation
                        {{view Ember.Select viewName="select"
                        content=scoreOptions
                        optionLabelPath="content.text"
                        optionValuePath="content.score"
                        prompt="Select a recommendation:"
                        value=score
                        class="score"}}
                    </label>
                </div>
            </div>
            {{#if showExemplaryOption}}
            {{input type="checkbox" checked=exemplary}} Furthermore, I think this submission is exemplary for this language and candidate level.
            {{/if}}
            <div class="row">
                <div class="large-2 large-offset-8 columns">
                    {{view 'saving-indicator'}}
                </div>
                <div class="large-2 columns">
                    <button class="button small expand radius success create" {{bind-attr disabled=isFormIncomplete}} {{action createAssessment}}>Submit</button>
                </div>
            </div>
        </fieldset>
    </div>
</div>
