<div class="row">
  <div class="col-md-12">
    <h1>New Assessment</h1>

    <form class="form-horizontal form-horizontal-narrow" role="form">
      <fieldset>
        <legend>Submission</legend>
        <div class="form-group">
          <label class="col-sm-2 control-label">Language</label>
          <div class="col-sm-2">
            {{view Ember.Select viewName="select"
            content=languages
            optionLabelPath="content.name"
            optionValuePath="content.id"
            prompt="Select a language:"
            selection=selectedLanguage
            disabled="disabled"
            class="form-control col-sm-2 language"}}
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Level</label>
          <div class="col-sm-2">
            {{view Ember.Select viewName="select"
            content=levels
            optionLabelPath="content.text"
            optionValuePath="content.id"
            prompt="Select a level:"
            selection=selectedLevel
            disabled="disabled"
            class="form-control level"}}
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">File</label>
          <div class="col-sm-2">
            <a class="btn btn-success zipfile" {{bind-attr href=submission.zipfile}}><i class="fa fa-download"></i>&nbsp;Download</a>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Email Text</label>
          <div class="col-sm-2">
            <p class="form-control-static">{{submission.emailText}}</p>
          </div>
        </div>
      </fieldset>
    </form>

    <br/>

    <form role="form">
      <fieldset>
        <legend>Assessment</legend>

        <div class="form-group">
          <label>Notes</label>
          <p>Write your thoughts about the submission (for example, a list of pros and cons). Keep in mind that these comments are also intended for the candidate. While a human will compile and sanitize them before showing them to the candidate, you should try to be as constructive as possible.</p>
          {{textarea value=notes rows="6" class="form-control notes"}}
        </div>

        <div class="form-group">
          <label>Recommendation</label>
          <p>Considering your comments above, make a recommendation on whether or not you think the candidate should advance to the next step of the interview process.</p>
          {{view Ember.Select viewName="select"
          content=scoreOptions
          optionLabelPath="content.text"
          optionValuePath="content.score"
          prompt="Select a recommendation:"
          value=score
          class="form-control score"}}
        </div>

        {{#if showExemplaryOption}}
        <div class="checkbox">
          <label>
            {{input type="checkbox" checked=exemplary}} Furthermore, I think this submission is exemplary for this language and candidate level.
          </label>
        </div>
        {{/if}}
        <div class="row">
          <div class="col-md-2 col-md-offset-9">
            {{view 'saving-indicator'}}
          </div>
          <div class="col-md-1">
            <button class="btn btn-success create" {{bind-attr disabled=isFormIncomplete}} {{action createAssessment}}>Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
