<div class="row">
    <div class="col-md-10">
        <h1>Active Submissions</h1>
    </div>
    <div class="col-md-2 text-right">
      <h1>{{#link-to 'analytics' classNames="btn btn-default"}}<i class="fa fa-line-chart"></i>&nbsp;Analytics{{/link-to}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      <table {{bind-attr class=":table :table-bordered :table-buttons :active isRecruiter:recruiter"}}>
            <thead>
                <tr>
                {{#if isRecruiter}}
                    {{sorting-header title='Candidate'
                                     key='candidateDisplay'
                                     sortProperties=sortProperties
                                     sortAscending=sortAscending
                                     action='sort'
                                     class='candidate'}}
                    {{sorting-header title='Langauge'
                                     key='languageDisplay'
                                     sortProperties=sortProperties
                                     sortAscending=sortAscending
                                     action='sort'
                                     class='language'}}
                    {{sorting-header title='Level'
                                     key='level.text'
                                     sortProperties=sortProperties
                                     sortAscending=sortAscending
                                     action='sort'
                                     class='level'}}
                    {{sorting-header title='Created date'
                                     key='createdAt'
                                     sortProperties=sortProperties
                                     sortAscending=sortAscending
                                     action='sort'
                                     class='time'}}
                {{else}}
                    {{sorting-header title='Langauge'
                                     key='languageDisplay'
                                     sortProperties=sortProperties
                                     sortAscending=sortAscending
                                     action='sort'
                                     class='language'}}
                    {{sorting-header title='Level'
                                     key='level.text'
                                     sortProperties=sortProperties
                                     sortAscending=sortAscending
                                     action='sort'
                                     class='level'}}
                    {{sorting-header title='Created date'
                                     key='createdAt'
                                     sortProperties=sortProperties
                                     sortAscending=sortAscending
                                     action='sort'
                                     class='time'}}
                {{/if}}
                  <th {{bind-attr class="isRecruiter:action-column:action-column-small"}}></th>
                </tr>
            </thead>
            <tbody>
                {{#each submission in arrangedContent}}
                <tr class="submission">
                    {{#if isRecruiter}}
                    <td>{{submission.candidateDisplay}}</td>
                    {{/if}}
                    <td>{{submission.languageDisplay}}</td>
                    <td>{{submission.level.text}}</td>
                    <td>{{submission.createdAtDisplay}}</td>
                    <td>
                    {{#if isRecruiter}}
                        {{view 'submission/action-menu' context=submission}}
                    {{else}}
                        {{#link-to 'submission.index' submission class="btn btn-primary"}}View{{/link-to}}
                    {{/if}}
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">There are no active submissions.</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{#if isRecruiter}}
<div class="row">
    <div class="col-md-12 text-right">
        {{#link-to 'submissions.new' class="btn btn-success"}}New Submission{{/link-to}}
    </div>
</div>
{{/if}}
