<div class="row">
    <div class="col-md-12">
        <h1>Inactive Submissions</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      <table {{bind-attr class=":table :table-bordered :table-buttons :inactive isRecruiter:recruiter"}}>
            <thead>
            <tr>
            {{#if isRecruiter}}
                {{sorting-header title='Candidate'
                                 key='candidateDisplay'
                                 sortProperties=sortProperties
                                 sortAscending=sortAscending
                                 action='sort'
                                 class='candidate'}}
                {{sorting-header title='Score'
                                 key='averageScore'
                                 sortProperties=sortProperties
                                 sortAscending=sortAscending
                                 action='sort'
                                 class='score'}}
                {{sorting-header title='Language'
                                 key='languageDisplay'
                                 sortProperties=sortProperties
                                 sortAscending=sortAscending
                                 action='sort'
                                 class='language'}}
                {{sorting-header title='Level'
                                 key='level.text'
                                 sortProperties=sortProperties
                                 sortAscending=sortAscending
                                 action='sort'
                                 class='level'}}
                {{sorting-header title='Closed At'
                                 key='updatedAt'
                                 sortProperties=sortProperties
                                 sortAscending=sortAscending
                                 action='sort'
                                 class='time'}}
            {{else}}
                {{sorting-header title='Score'
                                 key='averageScore'
                                 sortProperties=sortProperties
                                 sortAscending=sortAscending
                                 action='sort'
                                 class='score'}}
                {{sorting-header title='Language'
                                 key='languageDisplay'
                                 sortProperties=sortProperties
                                 sortAscending=sortAscending
                                 action='sort'
                                 class='language'}}
                {{sorting-header title='Level'
                                 key='level.text'
                                 sortProperties=sortProperties
                                 sortAscending=sortAscending
                                 action='sort'
                                 class='level'}}
                {{sorting-header title='Closed At'
                                 key='updatedAt'
                                 sortProperties=sortProperties
                                 sortAscending=sortAscending
                                 action='sort'
                                 class='time'}}
            {{/if}}
              <th {{bind-attr class="isRecruiter:action-column:action-column-small"}}></th>
            </tr>
            </thead>
            <tbody>
            {{#each submission in arrangedContent}}
                <tr class="submission">
                    {{#if isRecruiter}}
                        <td>{{submission.candidateDisplay}}</td>
                    {{/if}}
                    <td>{{submission.averageScoreShortText}}</td>
                    <td>{{submission.languageDisplay}}</td>
                    <td>{{submission.level.text}}</td>
                    <td>{{submission.updatedAtDisplay}}</td>
                    <td>
                    {{#if isRecruiter}}
                        {{view 'submission/action-menu' context=submission}}
                    {{else}}
                        {{#link-to 'submission.index' submission class="btn btn-primary"}}View{{/link-to}}
                    {{/if}}
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="6" class="text-center">There are no inactive submissions.</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
