
<div class="row">
    <div class="large-12 columns">
        <h1>Active Submissions</h1>

        <table width="100%">
            <thead>
                <tr>
                    {{#if isRecruiter}}
                    <th width="40%"> <a href="#" {{action "activeSortBy" "candidateDisplay:asc"}} >Candidate</a></th>
                    <th width="20%"> <a href="#" {{action "activeSortBy" "languageDisplay:asc, createdAtDisplay:desc"}}>Language</a></th>
                    <th width="20%"><a href="#" {{action "activeSortBy" "level.text:asc, createdAtDisplay:desc"}}>Level</a></th>
                    <th width="20%"><a href="#"{{action "activeSortBy" "createdAtDisplay:desc"}}>Created date</a></th>
                    {{else}}
                        <th width="33%"> <a href="#" {{action "activeSortBy" "languageDisplay:asc, createdAtDisplay:desc"}}>Language</a></th>
                        <th width="33%"><a href="#" {{action "activeSortBy" "level.text:asc, createdAtDisplay:desc"}}>Level</a></th>
                        <th width="33%"><a href="#"{{action "activeSortBy" "createdAtDisplay:desc"}}>Created date</a></th>
                    {{/if}}
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each submission in activeSubmissions}}
                <tr class="submission">
                    {{#if isRecruiter}}
                    <td>{{submission.candidateDisplay}}</td>
                    {{/if}}
                    <td>{{submission.languageDisplay}}</td>
                    <td>{{submission.level.text}}</td>
                    <td>{{submission.createdAtDisplay}}</td>
                    <td>{{#link-to 'submission.index' submission class="button tiny radius"}}View{{/link-to}}</td>
                     <td> <a href="#" {{action "delete" submission}} class="button tiny radius alert">delete</a> </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">There are no active submissions.</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        {{#link-to 'submissions.new' classNames="button small radius success right"}}New Submission{{/link-to}}
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h1>Inactive Submissions</h1>

        <table width="100%">
            <thead>
            <tr>
                {{#if isRecruiter}}
                    <th width="30%"><a href="#" {{action "inactiveSortBy" "candidateDisplay:asc"}}>Candidate</a></th>
                    <th width="10%"><a href="#" {{action "inactiveSortBy" "averageScore:desc, updatedAtDisplay:desc"}}>Average Score</a></th>
                    <th width="20%"> <a href="#" {{action "inactiveSortBy" "languageDisplay:asc, updatedAtDisplay:desc"}}>Language</a></th>
                    <th width="20%"><a href="#" {{action "inactiveSortBy" "level.text:asc, updatedAtDisplay:desc"}}>Level</a></th>
                    <th width="20%"><a href="#" {{action "inactiveSortBy" "updatedAtDisplay:desc"}}>Closed At</a></th>
                {{else}}
                    <th width="10%"><a href="#" {{action "inactiveSortBy" "averageScore:desc, updatedAtDisplay:desc"}}>Average Score</a></th>
                    <th width="30%"> <a href="#" {{action "inactiveSortBy" "languageDisplay:asc, updatedAtDisplay:desc"}}>Language</a></th>
                    <th width="30%"><a href="#" {{action "inactiveSortBy" "level.text:asc, updatedAtDisplay:desc"}}>Level</a></th>
                    <th width="30%"><a href="#" {{action "inactiveSortBy" "updatedAtDisplay:desc"}}>Closed At</a></th>
                {{/if}}
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each submission in inactiveSubmissions}}
                <tr class="submission">
                    {{#if isRecruiter}}
                        <td>{{submission.candidateDisplay}}</td>
                    {{/if}}
                    <td>{{submission.averageScore}}</td>
                    <td>{{submission.languageDisplay}}</td>
                    <td>{{submission.level.text}}</td>
                    <td>{{submission.updatedAtDisplay}}</td>
                    <td>
                        {{#link-to 'submission.index' submission class="button tiny radius"}}View{{/link-to}}
                    </td>
                    <td> <a href="#" {{action "delete" submission}} class="button tiny radius alert">delete</a> </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="5" class="text-center">There are no inactive submissions.</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
