
<div class="row">
    <div class="large-12 columns">
        <h1>Active Submissions</h1>

        <table width="100%">
            <thead>
                <tr>
                    {{#if isRecruiter}}
                    <th width="40%">Candidate <button class="button tiny radius" {{action "activeSortBy" "candidateDisplay:asc"}}>Sort by candidate name</button></th>
                    <th width="20%">Language <button class="button tiny radius" {{action "activeSortBy" "languageDisplay:asc, createdAtDisplay:desc"}}>Sort by language</button></th>
                    <th width="20%">Level <button class="button tiny radius" {{action "activeSortBy" "level.text:asc, createdAtDisplay:desc"}}>Sort by level</button></th>
                    <th width="20%">Created <button class="button tiny radius" {{action "activeSortBy" "createdAtDisplay:desc"}}>Sort by created date</button></th>
                    {{else}}
                    <th width="33%">Language <button class="button tiny radius" {{action "activeSortBy" "languageDisplay:asc, createdAtDisplay:desc"}}>Sort by language</button></th>
                    <th width="33%">Level <button class="button tiny radius" {{action "activeSortBy" "level.text:asc, createdAtDisplay:desc"}}>Sort by level</button></th>
                    <th width="33%">Created <button class="button tiny radius" {{action "activeSortBy" "createdAtDisplay:desc"}}>Sort by created date</button></th>
                    {{/if}}
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each submission in activeSubmissions}}
                <tr class="submission">
                    {{#if isRecruiter}}
                    <td>{{submission.candidateDisplay}}</td>
                    {{/if}}
                    <td>{{submission.languageDisplay}}</td>
                    <td>{{submission.level.text}}</td>
                    <td>{{submission.createdAtDisplay}}</td>
                    <td>
                        {{#link-to 'submission.index' submission class="button tiny radius"}}View{{/link-to}}
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">There are no active submissions.</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        {{#link-to 'submissions.new' classNames="button small radius success right"}}New Submission{{/link-to}}
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h1>Inactive Submissions</h1>

        <table width="100%">
            <thead>
            <tr>
                {{#if isRecruiter}}
                    <th width="10%">Average Score</th>
                    <th width="30%">Candidate <button class="button tiny radius" {{action "inactiveSortBy" "candidateDisplay:asc"}}>Sort by candidate name</button></th>
                    <th width="20%">Language <button class="button tiny radius" {{action "inactiveSortBy" "languageDisplay:asc, updatedAtDisplay:desc"}}>Sort by language</button></th>
                    <th width="20%">Level <button class="button tiny radius" {{action "inactiveSortBy" "level.text:asc, updatedAtDisplay:desc"}}>Sort by level</button><</th>
                    <th width="20%">Closed At <button class="button tiny radius" {{action "inactiveSortBy" "updatedAtDisplay:desc"}}>Sort by closed at</button></th>
                {{else}}
                    <th width="10%">Average Score</th>
                    <th width="30%">Language <button class="button tiny radius" {{action "inactiveSortBy" "languageDisplay:asc, updatedAtDisplay:desc"}}>Sort by language</button></th>
                    <th width="30%">Level <button class="button tiny radius" {{action "inactiveSortBy" "level.text:asc, updatedAtDisplay:desc"}}>Sort by level</button></th>
                    <th width="30%">Closed At <button class="button tiny radius" {{action "inactiveSortBy" "updatedAtDisplay:desc"}}>Sort by closed at</button></th>
                {{/if}}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each submission in inactiveSubmissions}}
                <tr class="submission">
                    {{#if isRecruiter}}
                        <td>{{submission.candidateDisplay}}</td>
                    {{/if}}
                    <td>{{submission.averageScore}}</td>
                    <td>{{submission.languageDisplay}}</td>
                    <td>{{submission.level.text}}</td>
                    <td>{{submission.updatedAtDisplay}}</td>
                    <td>
                        {{#link-to 'submission.index' submission class="button tiny radius"}}View{{/link-to}}
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="5" class="text-center">There are no inactive submissions.</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
