<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Code Test Bot</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

    <script>
      CONFIG = {
          APP_HOST: '<%= ENV['APP_HOST'] %>',
          SERVER_HOST: '<%= ENV['SERVER_HOST'] %>',
          NEW_SESSION_URL: '<%= "#{ENV['SERVER_HOST']}/sessions/new" %>'
      }
    </script>
  </head>

  <body>


    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>